body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
.section-1{
    display: flex;
    padding-bottom: 80px;
}
.headings{
    border-left-style:solid;
    border-left-color: salmon;
}
.description-part{
    width: 50%;
    padding-top: 80px;
    padding-left: 70px;
    padding-right: 100px;
}
.image-part{
    width: 50%;
    padding-left: 70px;
}
.image-part img{
    width: 70%;
}
h1{
    font-size: 40px;
    font-weight: 700;
    padding-left: 15px;
    padding-right: 20px;
}
h2{
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}
span{
    color:tomato;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    font-weight: 400;
    text-align: justify;
}
a{
    text-decoration: none;
    color: white;
    background-color: crimson;
    border-radius: 7px;
    padding: 10px 40px;
}
#scroll{
    font-weight: 400;
    font-size: 15px;
    padding-top: 20px;
}
.missions{
    display: flex;
    padding-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
}
.missions img{
    width: 40%;
    padding-top: 20px;
}
.details-1{
    width: 50%;
    height: 350px;
    margin-left: 40px;
    margin-right: 5px;
    padding: 10px 30px;
    background-color:gainsboro;
    border-radius: 20px;
}
.details-2{
    width: 50%;
    height: 350px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px 30px;
    background-color:powderblue;
    border-radius: 20px;
}
.details-3{
    width: 50%;
    height: 350px;
    margin-left: 5px;
    margin-right: 40px;
    padding: 10px 30px;
    background-color:cornsilk;
    border-radius: 20px;
}
.section-2{
    padding-bottom: 80px;
}
.section-3{
    display: flex;
    padding-bottom: 100px;
}
.coding-pic{
    width: 50%;
    padding-left: 120px;
}
.coding-pic img{
    width: 100%;
}
.coding-details{
    width: 50%;
    padding: 30px 60px;
}
h3{
    font-size: 30px;
    font-weight: 700;
}